*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root{
  --blue-header: #00bfff;
  --red-header: #ff4c68;
  --orange-header: #ef8172;
  --icon-features-bg: #e8ecef;
  --plan-border: #d2d2d2;
  --plan-color1: #212429;
  --plan-color2: #58595d;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  background: linear-gradient(280deg, var(--blue-header), var(--red-header), var(--orange-header));
  background-size: 180% 180%;
  animation: gradient-animation 17s ease infinite;
  padding: 20px 10px 0px 10px;
}
.title-header{display: block;}
.title-header h1{
  font-size: 2.4rem;
  color: #000;
  margin-bottom: 2rem;
}
.header-links{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.apple-btn-download, .playStore-btn-download{
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s ease-in-out;
}
.apple-btn-download{
  background-color: #fff;
  color: black;
}
.playStore-btn-download{
  border: 1px solid white;
  color: white;
}
.apple-btn-download:hover{
  background-color: rgb(235, 235, 235);
}
.playStore-btn-download:hover{
  background-color: rgba(37, 37, 37, 0.3);
}
.image-dog-iphone img{
  display: block;
  width: 100%;
}
#features{
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 8px;
}
.features-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.features-list li{
  background-color: blue;
}
.icon-features{
  background-color: var(--icon-features-bg);
}